
<form>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" class="form-control" id="shaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" class="form-control" id="adress" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<form>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" class="form-control" id="shaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" class="form-control" id="adress" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Удалить</button>
</form>

