
<form name='addFood'>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" name="addShaurma" class="form-control" id="addShaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" name='addAdress' class="form-control" id="addAdress" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<form name='delFood'>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" name='delShaurma' class="form-control" id="delShaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" name='delAdress' class="form-control" id="delAdress" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Удалить</button>
</form>

