<script defer src="/scripts/courier.js"></script>
<form name='addFood'>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" name="addShaurma" class="form-control" id="addShaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" name='addPrice' class="form-control" id="addPrice" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<form name='delFood'>
  <div class="row mb-3">
    <div class="col-sm-10"><br>
      <input type="text" name='delShaurma' class="form-control" id="delShaurma" placeholder="Выбрать">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input type="text" name='delPrice' class="form-control" id="delPrice" placeholder="Введите адрес">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Удалить</button>
</form>

