<script defer src="/map/yMap.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
<h1 class="text-warning">KEBAB</h1>
<a class="navbar-brand" href="#">Delivery Kebab</a>
    <div class="collapse navbar-collapse bg-warning" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Домашняя страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Доступная еда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Вход</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <div id="map" name="map" style="width: 600px; height: 400px"></div>
</div>
