<div class="container text-white" style="width:500px">
<h1 class="ttt text-white fs-1">Авторизация</h1>
<form name="formLogin">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label fs-2">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label fs-2">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Вход</button>
</form>

<script src="/scripts/signin.js" defer></script>
